body {
    font-family: 'Courier New', Arial;
    margin: 0;
    min-height: 100vh;
    /* display: flex;
    flex-direction: column; */
}

/* content div */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header div */
.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    width: 70%;
    min-width: 300px;
    max-width: 650px;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 2px;
}

/* h1 element */
h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: flex;
    flex-wrap: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
}

/* play div */
.play {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    width: 70%;
    min-width: 300px;
    max-width: 650px;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 3px;
}

/* h2 element in the play div */
.play h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

/* instructions div */
.play .instructions {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
}

/* p elements (in instructions div)*/
p {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* choice-buttons div */
.play .choice-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

/* img elements */
img {
    height: 100px;
    width: auto;
}

/* button elements */
button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 10px 20px;
    width: 131.8px;
    font-family: 'Courier New', Arial;
    font-size: 16px;
    /* background-color: white; */
    border-radius: 10px;
}

/* button hover states */
button.button-hover:hover {
    transition-duration: 0.4s;
    cursor: pointer;
}
button.button-hover#rock:hover {
    background-color: #ffc09f;
}
button.button-hover#paper:hover {
    background-color: #a2d2ff;
}
button.button-hover#scissors:hover {
    background-color: #b8e0d2;
}
button.button-hover#playAgain:hover {
    background-color: palegoldenrod;
}

/* results div */
.results {
    display: flex;
    flex-direction: column;
    /* min-height: 200px; */
    background-color: grey;
    color: white;
    width: 70%;
    min-width: 300px;
    max-width: 650px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

/* h2 element in the results div */
.results h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

/* results-output div */
.results .results-output {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
}

/* div elements (in results-output div)*/
.results .results-output div {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* finalResult div (in results-output div)*/
.results .results-output #finalResult {
    color: salmon;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-self: center;
}

/* #playAgain button */
button#playAgain {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 10px;
}